// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  display: flex;
  padding: 25px;
  margin-bottom: 20px;
}

.letter {
margin: 20px;
border-radius: 4px;
width: 30px;
height: 30px;
justify-content: center;
display: flex;
padding: 10px;
align-items: center;
background-color: cornflowerblue;
color: white;
font-size: x-large;
box-shadow: 1px 1px 2px gray;
}

.btn {
    height: 34px;
    background-color: gainsboro;
    border-radius: 4px;
}

.form {
  display: flex;
  width: 100%;
  align-items: end;
}

#words {
  width: 100%;
  margin-top: 20px;
}
